Source: adaptation-droidian-angelica
Maintainer: Bardia Moshiri
Section: metapackages
Priority: optional
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/droidian-devices/adaptation-droidian-angelica
Vcs-Git: https://github.com/droidian-devices/adaptation-droidian-angelica.git

Package: adaptation-droidian-angelica
Architecture: armhf
Depends: ${misc:Depends},
         adaptation-hybris-api29-phone,
         adaptation-angelica-configs,
         linux-bootimage-xiaomi-angelica,
         droidian-camera
Description: adapatation-angelica-meta
 angelica api29 adaptation metapackage

Package: adaptation-angelica-configs
Architecture: armhf
Depends: ${misc:Depends},
Description: angelica's adaptation configs
