Source: adaptation-droidian-garden
Maintainer: Bardia Moshiri
Section: metapackages
Priority: optional
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/droidian-mt6765/adaptation-droidian-garden
Vcs-Git: https://github.com/droidian-mt6765/adaptation-droidian-garden.git

Package: adaptation-droidian-garden
Architecture: all
Depends: ${misc:Depends},
         adaptation-hybris-api29-phone,
         adaptation-garden-configs,
         btscanner-gcc,
Description: adapatation-garden-meta
 garden api29 adaptation metapackage

Package: adaptation-garden-configs
Architecture: all
Depends: ${misc:Depends},
Description: garden's adaptation configs
