#!/usr/bin/make -f

%:
	dh $@

dh_installsystemd -padaptation-garden-configs --name=modules modules.service --no-start
dh_installsystemd -padaptation-garden-configs --name=brightness brightness.service --no-start
