#!/usr/bin/make -f

%:
	dh $@

override_dh_installsystemd:
	dh_installsystemd -padaptation-garden-configs-arm64 --name=modules modules.service --no-start
	dh_installsystemd -padaptation-garden-configs-arm64 --name=brightness brightness.service --no-start
	dh_installsystemd -padaptation-garden-configs-arm64 --name=ssh-fix ssh-fix.service --no-start
	dh_installsystemd -padaptation-garden-configs-arm64 --name=vendor-overlay vendor-overlay.service --no-start
	dh_installsystemd -padaptation-garden-configs-arm64 --name=apt-fix apt-fix.service --no-start
	dh_installsystemd -padaptation-garden-configs-arm64 --name=pbhelper pbhelper.service --no-start
