[Unit]
Description=Start bluebinder at boot
Requires=lxc@android.service
After=modules.service

[Service]
Type=simple
ExecStart=/usr/sbin/bluebinder

[Install]
WantedBy=multi-user.target
